<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Sample Ruby</title>
<!-- <title>demo</title>
 --></head>
<body>
  <h1>StaticPages#help</h1>
  <p>Find me</p>

</body>
</html>
